<form [formGroup]="loginForm" class="stacked-form">
  <mat-form-field hintLabel="5 caractères minimum">
    <input matInput #login placeholder="Login" formControlName="login">
    <mat-hint align="end">{{login.value?.length || 0}} car.</mat-hint>
    <mat-error *ngIf="login.errors && login.touched">
      <span *ngIf="login.errors.minlength">Le login doit avoir au moins 5 caractères</span>
      <span *ngIf="login.errors.required">Le login est obligatoire</span>
    </mat-error>
  </mat-form-field>


  <mat-form-field>
    <input matInput type="password" #password placeholder="Mot de passe" formControlName="password">
    <mat-error *ngIf="password && password.errors && password.touched">
      Le mot de passe est obligatoire
    </mat-error>
  </mat-form-field>

  <div class="button-placeholder">
    <button mat-raised-button color="primary" (click)="go()" [disabled]="isNotFormValid()">Go !</button>
  </div>
</form>
