<section class="tour-container" *ngIf="today">
  <header>
    <button
      type="button"
      [disabled]="isSame()"
      (click)="decrement()"
    >
    <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>{{ currentDay | amLocale: 'fr' | amDateFormat: 'DD MMMM YYYY' }}</h1>
    <button
      type="button"
      (click)="increment()"
    >
    <mat-icon>arrow_forward</mat-icon>
    </button>
  </header>

  <!-- Displaying all tours -->
  <div class="tile" *ngFor="let tour of tours">
    <div class="tile-hour">{{ tour.hour | amDateFormat: 'HH:mm' }}</div>
    <div class="tile-places">{{ tour.availablePlaces }}</div>
    <div class="outer-form">
      Here goes the form (but... later)
    </div>
  </div>
</section>
